<section class="runner-selector">
  <div class="runner-search-row">
    <div class="search-input-wrap">
      <input
        type="text"
        [ngModel]="searchTerm"
        (focus)="openDropdown()"
        (blur)="closeDropdown()"
        (keydown.enter)="onEnterKey($event)"
        (ngModelChange)="onSearchTermChange($event)"
        placeholder="Runner"
        aria-label="Search runners"
      />

      <ul class="runner-dropdown" *ngIf="dropdownOpen && filteredRunners.length > 0">
        <li
          *ngFor="let runner of filteredRunners"
          [class.is-disabled]="!canAdd(runner)"
          (mousedown)="selectFromDropdown(runner)"
        >
          {{ runner.name }}
        </li>
      </ul>
    </div>
  </div>
</section>
