<aside class="controls-panel">
  <div class="control-rail">
    <label class="control-field mode-field">
      <span>Mode</span>
      <select [ngModel]="mode" (ngModelChange)="modeChange.emit($event)">
        <option *ngFor="let option of modeOptions" [ngValue]="option.value">{{ option.label }}</option>
      </select>
    </label>

    <label class="control-field location-field">
      <span>Location</span>
      <select [ngModel]="location" (ngModelChange)="locationChange.emit($event)">
        <option [ngValue]="null">All</option>
        <option *ngFor="let item of availableLocations" [ngValue]="item">{{ item }}</option>
      </select>
    </label>

    <label class="control-field runs-field" *ngIf="mode === 'progression'">
      <span>Runs</span>
      <select [ngModel]="runWindow" (ngModelChange)="runWindowChange.emit($event)">
        <option *ngFor="let option of runWindowOptions" [ngValue]="option.value">{{ option.label }}</option>
      </select>
    </label>

    <div class="control-field runner-field">
      <span>Runner</span>
      <app-runner-selector
        [runners]="availableRunners"
        [selectedPersonIds]="selectedPersonIds"
        [searchTerm]="runnerSearch"
        (searchTermChange)="runnerSearchChange.emit($event)"
        (addRunner)="addRunner.emit($event)"
      ></app-runner-selector>
    </div>
  </div>

  <div class="utility-row">
    <button type="button" class="reset-icon-button" aria-label="Reset filters" (click)="resetFilters.emit()">
      <ng-icon name="reset" aria-hidden="true"></ng-icon>
    </button>
    <button
      type="button"
      class="benchmarks-chip"
      [class.is-active]="showBenchmarks"
      [attr.aria-pressed]="showBenchmarks"
      (click)="toggleBenchmarks()"
    >
      Benchmarks
    </button>

    <div class="units-chip">
      <app-sprint-unit-toggle></app-sprint-unit-toggle>
    </div>

    <ng-container *ngFor="let runner of selectedRunners">
      <div class="selected-runner-pill">
        <label class="visibility-toggle">
          <input
            type="checkbox"
            [checked]="runner.visible"
            (change)="onRunnerVisibilityChange(runner.personId, $event)"
          />
        </label>
        <input
          class="color-input"
          type="color"
          [value]="runner.color"
          [attr.aria-label]="'Choose color for ' + runner.personName"
          (change)="onRunnerColorChange(runner.personId, $event)"
        />
        <span>{{ runner.personName }}</span>
        <button
          type="button"
          class="remove-button"
          [attr.aria-label]="'Remove ' + runner.personName"
          (click)="removeRunner.emit(runner.personId)"
        >
          X
        </button>
      </div>
    </ng-container>
  </div>

</aside>
