@if (activeProject && overlayVisible) {
  <div class="project-backdrop" [class.visible]="isExpanded" (click)="requestClose()"></div>

  <article
    class="project-expanded"
    role="dialog"
    aria-modal="true"
    [ngStyle]="expandedStyle"
    [class.expanded]="isExpanded"
    (click)="$event.stopPropagation()"
  >
    <div class="project-expanded-content" [class.visible]="isExpanded">
      <div class="expanded-hero" [style.background-image]="activeProject.thumbnail ? 'url(' + activeProject.thumbnail + ')' : 'none'">
        <div class="expanded-hero-overlay"></div>
        <h3>{{ activeProject.title }}</h3>
        <button type="button" class="close-btn" (click)="requestClose()" aria-label="Close project details">
          <ng-icon name="close" aria-hidden="true"></ng-icon>
        </button>
      </div>

      <p class="expanded-short">{{ activeProject.shortDescription }}</p>

      <div class="markdown" [innerHTML]="activeProjectMarkdown"></div>

      <div class="expanded-links">
        @for (link of activeProject.links; track link.url) {
          <a [href]="link.url" target="_blank" rel="noreferrer" class="link-button">
            @switch (link.type) {
              @case ('github') {
                <ng-icon name="github" aria-hidden="true"></ng-icon>
              }
              @case ('cults3d') {
                <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M7.2 2.5h9.6A4.7 4.7 0 0 1 21.5 7v10a4.7 4.7 0 0 1-4.7 4.5H7.2A4.7 4.7 0 0 1 2.5 17V7a4.7 4.7 0 0 1 4.7-4.5Zm0 2.4A2.3 2.3 0 0 0 4.9 7v10a2.3 2.3 0 0 0 2.3 2.1h9.6a2.3 2.3 0 0 0 2.3-2.1V7a2.3 2.3 0 0 0-2.3-2.1H7.2Zm4.8 2.7a4.4 4.4 0 1 1 0 8.8 4.4 4.4 0 0 1 0-8.8Zm0 2.4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"/></svg>
              }
              @default {
                <ng-icon name="link" aria-hidden="true"></ng-icon>
              }
            }
            <span>{{ link.label }}</span>
          </a>
        }
      </div>
    </div>
  </article>
}
